<html>

<body>
    <h1>Create a new document</h1>
	<form action="/create" method="POST"  >
		<label>restaurant_id</label> : <input type="text" name="restaurant_id"><br>
        name: <input type="text" name="name" placeholder="Mandatory!"><br>
        borough : <input type="text" name="borough"><br>
        cuisine: <input type="text" name="cuisine"><br>
        photo: <input type="text" name="photo"><br>
        photo_mimetype: <input type="text" name="photo_mimetype"><br>
        street : <input type="text" name="street"><br>
        building: <input type="text" name="building"><br>
        zipcode : <input type="text" name="zipcode"><br>
        coord: <input type="text" name="coord"><br>
        user : <input type="text" name="user"><br>
        score: <input type="text" name="score"><br>
        owner: <input type="text" name="owner" placeholder="Mandatory!"><br>
        <input type="submit" value="Create"><br>
        <a href='/home'>Back to home page</a>
	</form>
</body>

</html>